{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Alen Serikbayev is a python developer. Has an experience of working with Flask/Django frameworks. Also be able to work with APIs and Web Scraping.</p>
        <p>During the path of learning python, I've put together a portfolio of projects that you can see <a href="#">here</a>.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}